.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 90vw;
  max-width: 360px;
  height: 90vh;
  max-height: 640px;
  background-color: #18191f;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}

.globe-icon {
  margin-top: 3vh;
  margin-right: 2vw;
}

.toast-container {
  margin-top: 2vh;
  position: absolute;
  top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.custom-toast {
  background-color: #32333b !important;
  color: white !important;
  border-radius: 0.5rem !important;
  text-align: center !important;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.logo {
  height: 10vh;
  width: 10vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  padding-top: 3vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

.info-box {
  background-color: #32333b;
  padding: 3vh;
  border-radius: 1rem;
  text-align: center;
  width: 75%;
  position: relative;
  margin-bottom: 3vh;
}

.distance {
  font-size: 0.6rem;
  color: white;
  margin-bottom: 1vh;
}

.name {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1vh;
  display: flex;
  justify-content: start;
}

.address {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 1.5vh;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.map-button {
  background-color: #fcc32c;
  color: white;
  padding: 1vh 2vw;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.map-button:hover {
  background-color: #269574;
}

.map-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 5vh;
  right: 1vw;
  background-color: #fcc32c;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 10vw;
  max-width: 130px;
  z-index: 10;
}

.dropdown-item {
  padding: 1vh 2vw;
  cursor: pointer;
  color: #333;
  font-size: 1rem;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #269574;
}